    body, html{
        height: 100%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-color: #f5f5f5;
    }

    #container{
        border-radius: 6px;  
        padding: 20px;
    }  

    table{
        border-radius: 12px;
        border: 0;
        color: #f5f5f5;
    }

    .bg-image{
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }    

    .img1{background-image: url("./image/brad-fickeisen-hW-422SNyK4-unsplash.webp");}
    .img2 {background-image: url("./image/denys-nevozhai-D68ADLeMh5Q-unsplash.webp");}
    .img3 {background-image: url("./image/felix-fuchs-oAeEh74WVXY-unsplash.webp");}
    .img4 {background-image: url("./image/francois-hoang-O98B_D0kxyA-unsplash.webp");}
    
    .bg-container{
        color: #f5f5f5;
        width: 800px;
        position: fixed;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        z-index: 2;
        background-color: rgba(0,0,0,0.7);
        border: 1px solid #efefef; 
    }